html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.header-center {
    position: absolute;
  top: 10%;
  left: 50%;
}

.row{
  margin-bottom: 15px;
}
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.the-button{
  -webkit-appearance: none;
  -webkit-font-smoothing: inherit;
  -webkit-user-select: none;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  padding: 1em 1.333em .916em;
  padding-left: 3em;
  padding-right: 3em;
  text-align: center;
  text-decoration: none;
}

.the-button:hover{

  background-color: #fff;
  color: #337ab7;
  border-color: #337ab7;

}
.the-button:visited{
  color: #fff;
}

.modal{
  color: #333;
}

.description{

  height: 100px;
}

.main-button{
  height: 40px;
  width: 40px;
  z-index: 1;


}
.main{
  margin-left: -20px;
}

.logo {
  max-width: 500px; 
  margin-left: -250px;

}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */

.about {
    padding: 50px 0;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}


/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/*coming soon*/
.coming-soon{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: bold;
}


/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}
/*price*/
.pricing_table{margin-top: 20px;}
#home-box > h2 { font-family: "Quicksand", sans-serif; font-weight: 400; line-height: 1.1; color: #fff; }
.price { font-size: 25px; text-align: center; }
.pricing_header { background: none repeat scroll 0% 0% rgb(44, 62, 80); border-radius: 5px 5px 0px 0px; transition: background 0.4s ease-out 0s; }
.pricing_header h2 { text-align:center; line-height: 25px; padding: 15px 0px; margin: 0px; font-family: "Quicksand", sans-serif; font-weight: 400; color: #fff; }
.list-group-item:first-child { border-top-right-radius: 0px; border-top-left-radius: 0px; }
.off { text-decoration: line-through; color: rgb(86,86,86); }
.space {height: 2px; background-color: #337ab7;}

/* Map */

.map {
    height: 500px;
}

/*image shadow*/
.image{
    box-shadow: 0;
    -webkit-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -ms-transition: box-shadow 0.5s ease;
    -kthtml-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    padding: 3px;
    border: 1px solid #eee;
}
.image:hover{
     -webkit-box-shadow: 0 0 3px #515151;
    -moz-box-shadow: 0 0 3px #515151;
    box-shadow: 0 0 3px #515151;

}
.gallery{
  max-height: 150px;
  max-width: 250px;
}

/*list page*/
.body-list{

  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

#logo-navbar-middle{
  position: absolute;
    left: 50%;
    margin-left: -100px !important;  /* 50% of your logo width */
    display: block;
}

.list-photo{
  margin-bottom: 20px;
}

.unit-photo img{
  height: 150px;
  width: 150px;
}

.gmaps{
  position:relative;
  height: 0;
  padding-bottom: 75%;
}

.information {
  text-align: center;
}

.information h2 {
  font-weight: normal;
  font-size: 1.2em;
  text-transform: uppercase;

}

.information h3 {
    color: #337ab7;
  font-size: 2.5em;
  margin: 0;
  padding: .2em 0;
  font-weight: normal;
}

.information small {
    color: #337ab7;
  font-weight: normal;
}

.tell-us{
  margin-top: 50px;
}

.thumb {
    margin-bottom: 30px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
    .logo {
      max-width: 330px; 
      margin-left: -165px;

    }

}

/* Footer */

footer {
    padding: 100px 0;
}